operai-backend/credentials.json
operai-backend/.env
operai-frontend/.env

# FRONTEND
operai-frontend/node_modules/
operai-frontend/dist/
operai-frontend/.angular/

# BACKEND
operai-backend/__pycache__/
operai-backend/venv/
operai-backend/.venv/
operai-backend/*.pyc

# GENERAL
.env
*.log
.vscode/
.idea/
.DS_Store
